<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Espace Sécurisé</title>
  <style>
    body { background: #2c3e50; color: white; font-family: monospace; padding: 50px; text-align: center; }
    .secret-box { border: 2px dashed #e74c3c; padding: 20px; display: inline-block; margin-top: 20px; background: #34495e; }
    h1 { color: #2ecc71; }
  </style>
</head>
<body>
<h1>ACCÈS AUTORISÉ</h1>
<p>Bienvenue, <span th:text="${username}"></span>.</p>

<div class="secret-box">
  <h3>DONNÉES CONFIDENTIELLES :</h3>
  <p style="font-size: 1.5em;">Code de validation HackZone : VictoirAnous</p>
  <strong style="font-size: 2em; color: #f1c40f;" th:text="${secret}"></strong>
</div>
</body>
</html>